h{ font-size : 30pt;}

p {
color:black;
background-color:blue;
font-size: 20pt;
}

	p1 {
color:yellow;
background-color: red;
font-size: 18pt;
}	

p2 {
color:red;
background-color: yellow;
font-size: 16pt;
}

